<% if user_signed_in? %>
<div class="container">
<%- model_class = Issue -%>
<div class="page-header">
<!--  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1> -->
  <h2>Listing Annotations</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <!--<th><%= model_class.human_attribute_name(:latitude) %></th>
      <th><%= model_class.human_attribute_name(:longitude) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th> -->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        
        <td><b><%= link_to issue.title, issue_path(issue) %></b></td>
        <td><%= issue.category %></td>
        <td><%= issue.description %></td>
        <td><%= image_tag issue.image_url(:thumb).to_s %></td>
        <td><%= issue.latitude %>, <%= issue.longitude %></td>
        <!--<td><%= issue.latitude %></td>
        <td><%= issue.longitude %></td>
        <td><%= issue.created_at %></td> -->
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_issue_path(issue), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      issue_path(issue),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_issue_path,
            :class => 'btn btn-primary' %>
<br />
</div>

<%else %>
  <!--<%= link_to "sign in", new_user_session_path %> -->
<div id='main-image' class="home-heading">
  <p class="hero-unit2">Please Sign Up or Sign In to view the content.</p>
<%= image_tag "abq_logo.jpeg", {:width => 550, :height => 350} %>
<br />
<!-- <h2><%= link_to "Sign up", new_user_registration_path, :class => "btn btn-info home-heading" %></h2> -->
</div>
<% end %>