<h1>Listing datasets</h1>

<table>
  <tr>
    <th>Name</th>
	<th>Source Link</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% @datasets.each do |dataset| %>
  <tr>
    <td><%= dataset.name %></td>
	<td><%= dataset.source_link %></td>
    <td><%= link_to 'Show', dataset %></td>
    <td><%= link_to 'Edit', edit_dataset_path(dataset) %></td>
    <td><%= link_to 'Destroy', dataset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dataset', new_dataset_path %>
