<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dataset.name %>

  <b>Data Link:</b>
  <%= @dataset.source_link %>
</p>


<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
