<div class="container">

<% if user_signed_in? %>
<div id="map" onload="initialize();">
</div>
<div id="formalign" >
        <!--h4>Datasets:</h4-->
		<br><br><br>
	<% i = 0 %>
	<script>
	 var stuff = new Array(100);
	</script>
    
	<% for dataset in @datasets %> 
		
		<% @datasetcheckvaues[i] =  i %>
		
        <%= check_box_tag @datasetcheckvaues[i], value=@datasetcheckvaues[i], false %> <%= dataset.name %>
        <br><br>
		<script>
		 	stuff['<%= i %>'] = '<%= dataset.source_link %>'
			total_data_sets = '<%= @datasets.length %>';
		</script>
		<% i = i+1 %>
		

	<% end %>
     <%= tag "input", { "type" => "button", "value" => "Display", "onclick" => "show()" } %>
</div>
<% else %>
  <%= link_to "sign in", new_user_session_path %>
<div id='main-image'>
<%= image_tag "ardi_logo.jpeg", {:width => 550, :height => 350} %>
</div>
<h1 id='home-heading'><%= link_to "Sign up", new_user_registration_path %></h1> 
<% end %>

</div>