<!--

<h1>Ardhiview</h1>
<h4>Welcome to Ardhiview. C://The world</h4> 
<p>You are seeing this page because you are signed in! </p> 

-->


<% if user_signed_in? %>
<div id="map" onload="initialize();">
</div>
<div id="formalign" onload="uncheck();">
        <!--h4>Datasets:</h4-->
        <br><br><br>
        <%= check_box_tag 'park', 'park', false %> Park 
        <br><br>
        <%= check_box_tag 'openspace', 'openspace', false %> Open Space
        <br><br>
        <%= check_box_tag 'publicart', 'publicart', false %> Public Art
        <br><br>
        <%= check_box_tag 'bikepaths', 'bikepaths', false %> Bike Paths
        <br><br>
        <%= check_box_tag 'citylimits', 'citylimits', false %> City Limits
        <br><br>
        <%= check_box_tag 'transitroutes', 'transitroutes', false %> Transit Routes
        <br><br>
        <%= check_box_tag 'neighborhoods', 'neighborhoods', false %> ABQ Neighborhoods
        <br><br>
        <%= check_box_tag 'policebeats', 'policebeats', false %> Police Beats
        <br><br>
        <%= check_box_tag 'femaexemptions', 'femaexemptions', false %> Fema Exemptions  
        <br><br>
        
        <%= tag "input", { "type" => "button", "value" => "Display", "onclick" => "show()" } %>
   
</div>
<% else %>
  <%= link_to "sign in", new_user_session_path %>
<div id='main-image'>
<img src='assets/ardi_logo.jpeg' width="550" height="350" /></div>
<h1 id='home-heading'><%= link_to "Sign up", new_user_registration_path %></h1> 
<% end %>