<!DOCTYPE html>
<html>
<head>
  <title>My City</title>
  <meta content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "map" %>  
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
 <script type="text/javascript" src="http://www.google.com/jsapi"></script>

  <%= csrf_meta_tags %>
</head>
<body onload="initialize();">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <a class="brand" href="#">AbQCity</a>
        <li><%= link_to 'Report an Issue', issues_path %></li>
        <li><%= link_to 'Know your City', pages_home_path %></li>
        <li><%= link_to 'About', pages_about_path %></li>
      </ul>
    </div>
  </div>
</div>

	      <div id="user_nav">
	        <% if user_signed_in? %>
	          Signed in as <%= current_user.email %>. Not you? <strong>
	         <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "google-button google-button-red" %></strong>
	        
	        <% end %>
	      </div>

	<div id="container">


	      <% flash.each do |name, msg| %>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <% end %>

	      
	      <%= yield %>
	    </div>
</body>
</html>
